
.header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}


.container{
    /* width: 1250px; */
    display: grid;
    grid-template-columns: 10% 60% 30%;
    align-items: center;
}


.logo{
    width: 86px;
    text-align: left;

}

.button{display: flex; justify-content: flex-end; align-items: center;}
.cartBtn{ background-color: transparent;}

.button svg{ color: #E4002B; font-size: 28px; margin-right: 16px;} 

@media screen and (max-width: 600px) {
    .container{grid-template-columns: 10% 90% 100%;}
    
}

