


.IndexPage{justify-content: center;display: flex; color: white; margin-bottom: 100px;}
.IndexPage h1{font-size: 24px; color: white; font-weight: bold;}


.category{margin: 50px 0px;}
.catItems{    display: grid;    grid-template-columns: auto auto auto auto auto;    justify-content: center; margin: 50px 0px;}
.catItems img{ width: 150px; border: 2px dashed white; margin: 0px 17px; border-radius: 8px;}
.catItems h3{text-align: center;}
.catItems a{color: white; text-decoration: none;}

.deals {display: grid;  grid-template-columns: repeat(3, 1fr);}
.deals .card{height: 100%; border-radius: 6px; padding: 20px; margin: 10px; background-color: #1C1816; display: grid;}
.deals .card img{ width: 100%;}
.deals .card .cardBody{height: 100%;}
.deals .card .cardFooter{display: flex; justify-content: space-between; margin: 20px 0px;}
.deals .card .cardFooter h2{margin: 0px;}

 @media screen and (max-width: 600px) {
    .catItems{ grid-template-columns: auto auto; text-align: center;}
    .IndexPage{display: block;}
    .category{margin: 50px 5px;}
    
}
