
.container{font-family: "titillium"; width: 1250px; }

@media screen and (max-width: 576px) { .container{font-family: "titillium"; width: 100%; }}




.card-grid {display: grid;  grid-template-columns: repeat(3, 1fr);}
/* .card{height: 100%; border-radius: 6px; padding: 20px; margin: 10px; background-color: #1C1816; display: grid;}
.card img{ width: 100%;}
.card .cardBody{height: 100%;}
.card .cardFooter{display: flex; justify-content: space-between; margin: 20px 0px;}
.card .cardFooter h2{margin: 0px;} */

.burger-pg{justify-content: center;display: flex; margin-bottom: 50px;}
h1,h2{color: white;}
